{% comment %} Drawers and any absolutely position elements which you want to bring out of the container should be placed inside this portal container {% endcomment %}

<div id="portal" class="portal-container">

</div>