<toast-message toast-type="{{ toast_type }}" class="{{ customClassName }} error__drawer">
  <div class="error__drawer__wrapper">
    <p class="error__message" message-text></p>
  </div>
</toast-message>
