{% comment %} {{ 'variant-options.css' | stylesheet_tag | asset_url }} {% endcomment %}

<div class="variantSubscription-desktop">
    <variant-selector>
      <script id="variant-data" type="text/json">
        {
          "data": {% render 'JSON-variant-data' product: product %}
        }
      </script>
    </variant-selector> 
    
</div>