@use 'StyleComponents/colors';
@import 'breakpoints';

.clinical__results{
    // .beforeAfter__container{
    //     flex-direction: column-reverse;
    // }
    h1{
        text-transform: uppercase;
        font-family: var(--secondary-font);
    }
    p{
        font-size: 14px;
    }
    a{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 10px;
    }
    .beforeAfter__wrp{
        padding: 18px;
    }
    @media(--sm){
        .beforeAfter__wrp{
            background: colors.$lime-yellow;
            width: 100%;
            height: 100%;
            padding: 50px;
            animation-reveal{
                background: colors.$white;
                max-width: 440px;
                max-height: auto;
                padding: 20px;
            }
        }
    }
}