@use 'StyleComponents/colors';
@import 'breakpoints';
@import 'Token';

.beforeAfter{
        p{
            @include use-text-style('body-title');   
        }
        a{
            text-decoration: none;
            text-transform: uppercase;
            @include use-text-style('body-small');
        }
        &__wrp{
            padding: 18px;
            h1, h2, h3, h4, h5, h6{
                text-transform: uppercase;
                @include use-text-style('heading-1');
                font-weight: 400;
            }
        }
        @media(--sm){
            &__wrp{
                background: colors.$lime-yellow;
                width: 100%;
                height: 100%;
                padding: 50px;
                animation-reveal{
                    background: colors.$white;
                    max-width: 440px;
                    min-height: 555px;
                    padding: 50px;
                    &.vertical_spacing{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                }
            }
        }
    
}
.clinical__results{
    &_heading{
        margin-top: 0;
        margin-bottom: 54px;
    }
}