@import 'breakpoints';


@media(min-width:768px) and (max-width: 1199px){
    .collectionList__trending{
        grid-template-columns: repeat(2, 1fr) !important;
    }
}


@media (min-width: 1440px) {
    .product-card-item__body {
        margin-top: 25px;
    }
    .product-card-item__body-wrapper {
        padding: 0;
    }
}

.filter-layout__products__wrapper{
    animation-reveal.grid-layout {
        row-gap: 40px;
        @media(--sm){
            row-gap: 50px;
        }
        @media(--md-large){
            row-gap: 60px;
        }
    }
}

.collectionList__item{
    product-card{
        .product-card-item .w-100.position-relative ,  .image--aspectSize.product-card-item__aspectSize{
            border-radius: 0;
        }
    }
}

.collectionList__filterDropdown{
    label{
        font-weight: 700 !important;
    }
}

.collectionList__filter-btn p{
    font-weight: 700 !important;
}

.collection-hero--with-image .collectionBanner__description {
    @media(max-width:600px){
        text-align: center;
        width: 100%;
    }
}

.collection-main__container{
    @media(max-width:991px){
        padding-top: 20px;
    }
}

.collectionBanner__container {
    display: none !important;
    @media(min-width:992px){
        display: block !important;
    }
}

.collection-hero--with-image .collectionBanner__container {
    display: block !important;
}

.collection-hero--with-image .collectionBanner__container{
    padding: 83px 0;
}

.collectionBanner__description h1{
    font-size: 24px;
    font-family: var(--secondary-font);
}

@media(min-width:991px){
    .collection-hero--with-image  {
        margin-bottom: 100px;
    }
    .collection-hero--with-image  .collectionBanner__container{
        padding: 139px 0;
    }
    .collectionBanner__description h1{
        font-size: 40px;
        font-family: var(--secondary-font);
    }
}

.filter-button-wrapper {
    @media(min-width: 768px) and (max-width: 1023px){
        display: flex;
        flex-direction: row-reverse;
    }
}


.collectionList__filterDropdown label{
    @media(min-width: 768px){
        display: block !important;
    }
}