@use 'StyleComponents/mixins';
@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'Token';
@import 'breakpoints';
@import 'StyleComponents/breakpoints';


custom-carousel .swiper-navigation {
    display:none;
  }
  .banner__carousel{
    position: relative;
  }
  .swiper-navigations {
    position: absolute;
    z-index: 999;
    display: flex;
    width: 100%;
    justify-content: space-between;
    // height: 100%;
    align-items: center;
    padding: 0 16px;
    @media(--md){
      padding: 0 var(--heading-margin);
    }
  }

  .carousel__container{
    max-width: 80%;
  }

  custom-carousel .swiper-pagination-bullet{
    border-radius: unset;
    height: 4px;
    width: 12px;
    background: rgba(40, 47, 238, 0.25);
    opacity: unset;
  }