@use 'StyleComponents/mixins';
@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'Token';
@import 'breakpoints';
@import 'StyleComponents/breakpoints';


.factual {

  &__section {
    background-color: #f8f8f8;
    @media(max-width: 1023px){
      grid-template-columns: 1fr !important;
    }
  }

  &__left {
    flex: 1;
    padding: 17px 50px !important;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__description {
    margin-top: 1rem;
    font-size: 1rem;
    color: #555;
  }

  &__cards {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  &__card-item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
  }

  .container{
    padding: 0;
  }

}

  