@use 'StyleComponents/mixins';
@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'Token';
@import 'breakpoints';
@import 'StyleComponents/breakpoints';


.factual {
  --base-card-margin:10px;

  &__section {
    @media(max-width: 1023px){
      grid-template-columns: 1fr !important;
    }
  }

  &__left {
    flex: 1;
    height: 100%;
  }

  &__sub-container{
    padding: 17px 15px !important;
    @media(max-width: 600px){
      min-height: 660px;
    }
    @media(--md){
      padding: 17px 50px !important;
      min-height: 100%;
    }
  }

  &__title{
    font-size: 68px;
    font-family: var(--quaternary-font-bold);
    color:colors.$blue;
    margin-top: var(--base-card-margin);
    @media(--md){
      font-size: 80px;
      margin: var(--heading-margin) 0;
    }
    @media(--md-large){
      font-size: 96px;
    }
  }

  &__card-title {
    @include use-text-style('body-title');
    font-weight: typography.$regular-weight;
    margin-bottom: var(--base-card-margin);
    width: 90%;
    @media(--sm){
      margin-bottom: 0;
    }
    @media(--md-large){
      margin-bottom: 20px;
      width: 68%;
    }
  }

  &__description {
    margin-top: 2rem;
    font-size: typography.$body-title-size; 
    font-weight: typography.$regular-weight;
    color: colors.$blue;
    line-height: 18.2px;
    letter-spacing: 2px;
    word-spacing: 1px;
    @media(--md){
      width: 406px;
      margin-top: 4rem;
    }
  }

  &__cards {
    display: flex;
    gap: 58px;
    margin-top: 2rem;
    flex-wrap: wrap;
    @media(--md){
      gap: 20px;
    }
    @media(--lg){
      gap: 45px;
    }
  }
  
  &__card-item {
    cursor: pointer;
    position: relative;
    height: 147px;
    width: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    clip-path: polygon(2em 0, 100% 0, 100% 100%, 0 100%, 0 2em);
    border: 2px solid colors.$blue;
    @media(--md-large){
      width: 151.5px;
      height:206px;
    }
   
    @media(--lg){
      width: 171.5px;
      height:206px;
    }
  }
  

  &__card-cut-icon{
    position: absolute;
    top: -7px;
    left: -13px;
      svg{
        width: 60px;
        height: 46px;
    }
  }

  &__code{
    font-size: 45px;
    margin: 0;
    color:colors.$white;
    font-family: var(--quaternary-font-bold);
    @media(--sm){
      font-size: 40px;
    }  
    @media(--lg){   
      font-size: 64px;
    }
  }

  &__card-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    @media(--md){
      width: 25px;
      height: 25px;
      top: 14px;
      right: 14px;
    }
  }

  .container{
    padding: 0;
  }

  &__card-content{
    position: absolute;
    bottom: 0;
    padding: 0 7px;
    left: 0;
    @media(--sm){
      bottom: 10px;
      padding: 0 var(--base-card-margin);
    }
  }

  &__next-icon{
    display: none;
    @media(--md){
      display: block;
    }
  }

  &__popup-image-desktop{
    display: none;
    @media(--sm){
      display: block;
    }
  }

  &__popup-image-mobile{
    display: block;
    @media(--sm){
      display: none;
    }
  }

  &__first-image-container{
    @media(--sm){
      height: 853px;
    }
    @media(--md){
      height: 100%;
    }
  }

  &__swap-block-mobile:nth-of-type(1) {
    order: 1;
    @media(--md){
        order: 0; 
    }
} 

  &__hide-image{
    display: none;
    @media(--md){
      display: contents;
    }
  }
}


.factual__section{
  .button__custom-button{
      bottom: 3%;
    @media(--md-large){
      padding: 35px 52px;
    }
    @media(--lg){
      bottom: 8%;
      padding: 44px 52px;
    }
  }
}



