@use 'StyleComponents/mixins';
@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'Token';
@import 'breakpoints';
@import 'StyleComponents/breakpoints'; 

.header-container  {
    .navbar-nav {
        .menu-main-link {
            font-family: var(--secondary-font);
            font-weight: typography.$medium-weight; 
        }
        .mega-menu__list--child-list{
            .menu-main-link {
                @include use-text-style('body-title');
                font-family: var(--primary-font);
                font-weight: typography.$regular-weight; 
            }
        }
    }
}

.header-right__nav a{
    display: none;
    @media (min-width: 992px) {
        display: block;
        @include use-text-style('body-title');
        font-family: var(--secondary-font);
        font-weight: typography.$medium-weight !important; 
        text-decoration: unset; 
        letter-spacing: 1px;
    }
}

hamburger-menu{
    .hamberger-accordion{
        gap: 20px;
        .hamberger-accordion__item{
            .hamberger-accordion__link-black , .hamberger-accordion__head {
                @include use-text-style('heading-1-alt');
                font-family: var(--secondary-font);
                font-weight: typography.$regular-weight;  
            }
        }
    }
}

.drawer__footer{
    a{
        @include use-text-style('heading-1-alt');
        font-family: var(--secondary-font);
        font-weight: typography.$regular-weight;  
    }
}

.accordion__item__body{
    .back-to-menu{
        @include use-text-style('heading-1-alt');
        font-family: var(--secondary-font);
        font-weight: typography.$regular-weight;
    }
}

.bundle__item{
    .bundle__body{
        .bundle__link{
            font-family: var(--secondary-font);
            font-weight: typography.$regular-weight;
        }
    }
}

.header-right__nav-pro a{
    color: colors.$white;
    background: colors.$blue;
    padding: 8px 19px;
    letter-spacing: 1px;
}

.header-right__nav-pro{
    @media(--md-large){
        margin-left: 53px;
    }
}

.search-icon__desktop{
    @media(--md-large){
        margin-left: 62px;
    }
}

.account-iocn__dektop{
    @media(--md-large){
        margin-left: 34px;
    }
}

.cart-button__desktop{
    @media(--md-large){
        margin-left: 44px;
    }
}

.header__menu-wrp {
    .dropdown-menu__list-item {
        .nav-item{
            @media(--md-large){
                padding-right: 71px;
            }
            &:last-child{
                @media(--md-large){
                    padding-right: 0;
                }
            }
            a{
               letter-spacing: 1px;
            }
       }
    }
}

@media(max-width:389px){
    .header__iconGroup > ul {
        gap: 0 16px !important;
      }
}

@media(min-width:390px) and (max-width:1199px){
    .header__iconGroup > ul {
        gap:20px ;
      }
}

.header__nav-list {
    @media(--md-large){
        gap: 0;
    }
}

.navbar{
    .container{
        @media(--md-large){
            padding-left: 35px;
            padding-right: 35px;
        }
    }
}

.mega-menu-container{
    .container{
        @media(--md-large){
            padding-left: 80px;
            padding-right: 80px;
        }
    }
}


