@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@use 'StyleComponents/colors';
@import 'Token';
@import 'breakpoints';


.block-media-size--lg .imageWithTextImageContainer , .video__section youtube-player {
    min-height: 420px !important;
    @media(--sm){
        min-height: 800px !important;
    }
    @media(--md){
        min-height: 522px !important;
    }
    @media(--md-large){
        min-height: 800px !important;
    }
}

.image-with-text__overlay{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.image-with-text__overlay{
    height: 100%;
}
// .video__section .media-text__position-text{
//     @media(--sm){
//         height: 400px;
//     }
//     @media(--md){
//         height: 100%;
//     }
// }
.text-image , .image-with-text_overlay-video {
    width: 100%;
}

.image-with-text__desktop , .imageWithTextImageContainer {
    display: none;
    @media(--md){
        display: block;
    }
}

.image-with-text__mobile, .media-text__mobile__text {
    display: block !important;
    @media(--md){
        display: none !important;
    }
}


.imageWithText .image-fixed .imageWithText__media{

    @media(--md){
        display: block;
    }
}

@media screen and (max-width: 1023px) {
    .imageWithText__container {
        flex-wrap: wrap;
    }
    .imageWithText__media {
        width: 100%;
        flex-direction: column;
    }
    .media-text__mobile__text{
        width: 100%;
    }
}

.imageWithText .video__section{
    // height: auto;
    @media(--md){
        height: 100%;
    }
}

.imageWithText__media svg {
    position: unset;
}

.media-text {
    @media(max-width: 1023px){
        grid-template-columns: 1fr !important;
    }
} 

.media-text__flex-block-reverse , .image-text-overlay__reverse{
    flex-direction: column-reverse;
    @media(--md){
        flex-direction: row;
    }
}

.video__section .play__icon{
    height: 75px;
    width: 75px;
    @media(--sm){
        height: 116px;
        width: 116px;
    }
}

.text-image__justify-between .text-wrapper__heigt {
    height: 100%;
}

.video-with__cover-image .text-image__text-wrapper {
    @media(--md){
        left: 3%;
    }
}

.media-with-text__overlay-section{
    .container{
        padding: 0;
        .imageWithText{
            border-radius: 0;
        }
    }
}

.make-video-width__half , .text-content__custom{
    @media(--md){
        width: 50%;
    }
}

.mobile-image__display{
    display: none !important;
    @media(--md){
        display: block !important;
    }
}

// .data-video-parent{
//     default-player{
//         height: 100% !important;
//     }
// }
