@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@use 'StyleComponents/colors';
@import 'Token';
@import 'breakpoints';


.media-text {
    @include mixins.grid(6,250,250);
    column-gap:0;
    row-gap: 0;

    &__wrapper{
        grid-column: span 3;
        width: 100%;
    }
} 

.image--desktop{
    display: none;
    @media(--sm){
        display: block;
    }
}
.image--mobile{
    display: block;
    @media(--sm){
        display: none;
    }
}
