@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'Token';
@import 'StyleComponents/mixins';
@import 'StyleComponents/layout';
@import 'StyleComponents/breakpoints';


.variant-container{
    &__var-options{
        display: flex;
        // grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        margin:5px 0;
        font-size: 13px;
        @media(--sm){
            font-size: var(--primary-font);
        }
        .dropdown_content{
            font-weight: normal;
            display: flex;
            gap: 10px;
            align-items: center;
            position: relative;
            font-weight: 800;
            text-decoration: underline;
            .frequency_options{
                position: absolute;
                top: 30px;
                background: colors.$white;
                padding: 5px;
                border: 1px solid colors.$blue;
                z-index: 2;
                border-radius: 4px;
            }
            .dropdownOpen svg{
                transform: rotate(180deg);
                transition: transform 0.3s ease-in-out;
            }
            .dropdownClose svg{
                transform: rotate(0deg);
                transition: transform 0.3s ease-in-out;
                margin-bottom: 25%;
            }
        }
        .tooltip_container{
            position: relative;
            font-family: var(--primary-font);
            .tooltip_trigger{
                background: colors.$lime-yellow;
                border-radius: 50%;
                border: 1px solid colors.$blue;
                padding: 2px;
                width: 15px;
                height: 15px;
                stroke-width: 1px;
            }
            .tooltip{
                position: absolute;
                bottom: 40px;
                background: colors.$lime-yellow;
                width: 264px;
                height: auto;
                font-weight: 400;
                padding: 15px;
                right: -37px;
                &::before{
                    content: '';
                    width: 20px;
                    height: 30px;
                    background: colors.$lime-yellow;
                    position: absolute;
                    bottom: -0.7rem;
                    left: 84%;
                    translate: -50% 0;
                    rotate: 45deg;
                    z-index: 1;
                }
                @media(--sm){
                    right: -35px;
                    &::before{
                        left: 85%;
                    }
                }
                @media(--md){
                    right: -123px;
                    &::before{
                        left: 51%;
                    }
                }
                @media(--md-large){
                    right: -200px;
                    &::before{
                        left: 22%;
                    }
                }
                p{
                   font-size: 13px;
                    margin-bottom: 0;
                    @media(--sm){
                        font-size: typography.$body-title-size !important;
                    }
                }
                &__header{
                    display: flex;
                    justify-content: space-between;
                    font-weight: 700;
                }
                &__content{
                    display: flex;
                    justify-content: space-between;
                    font-size: 13px;
                    @media(--sm){
                        font-size: typography.$body-title-size !important;
                    }
                    margin-top: 30px;
                    .usage_title, .frequency_title{
                        font-weight: 700;
                    }
                    
                }
            }
        }
        
    } 
    &__var-wrapper{
        border-top: 1px solid colors.$blue;
        padding: 10px;
        // border-radius: 10px;
        text-align: left;
        position: relative;
        margin-top :5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 5px;
        h5{
            margin: 0;
        }
    }  

    &__var-name{
        font-family:var(--primary-font) ;
        font-size: typography.$body-title-size ;
        color:#323734 ;
        font-weight: 400;
    }

    &__var-price{
        font-family:var(--primary-font) ;
        font-size:15px ;
        color:#323734 ;
        font-weight: 700;
    }

    &__opt-label{
        font-family: var(--primary-font);
        font-size: 16px;
        font-weight: 700;
        width: 100%;
        @media(--sm){
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }

    --offer-text: colors.$blue;
    
}


.variant-container__var-wrapper .variant-container__var-name, 
.variant-container__var-wrapper .onetime-container__onetime-label,
.variant-container__var-wrapper .onetime-container__oneTime-Price {
    color: colors.$blue;
}

.variant-container__var-wrapper .variant-container__var-price, 
.variant-container__var-wrapper .variant-container__opt-label,
.variant-container__var-wrapper .subscriptionOpt-container__subscription-label,
.variant-container__var-wrapper .subscriptionOpt-container__subscription-Price {
    color: colors.$blue;
}

.onetime-container__onetime-label, .subscriptionOpt-container__subscription-label{
    // width: 50%;
    // margin: auto;
    font-family:var(--paragraph-font);
    display: flex;
    gap: 10px;
    align-items: center;
    p{
        font-size: 13px;
        @media(--sm){
            font-size: var(--primary-font);
        }
    }
    svg{
        width: 15px;
        height: 15px;
        padding: 2px;
        border-radius: 50%;
        border: 1px solid colors.$blue;
        stroke-width: 2px;
        &.active{
            background: colors.$blue;
        }
    }
    p{
        font-weight: 700;
        margin-bottom: 0;
    }
}

.onetime-container__oneTime-Price, .subscriptionOpt-container__subscription-Price{
    font-family:var(--paragraph-font);
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 0;
    @media (--sm){
        font-size: 16px;
    }
}
  
.subscription_benefits{
    p{
        font-weight: 900;
        font-size: 13px;
        @media(--sm){
            font-size: var(--primary-font);
        }
    }
    ul{
        list-style: disc;
        padding-left: 40px;
        li{
            font-size: 13px;
            @media(--sm){
                font-size: var(--primary-font);
            }
        }
    }
}
.variant-container__bestvalue-tag {
    position: absolute;
    top: -10%;
    right: 10%;
    background-color: #BA5B31;
    color: #fff;
    padding: 0 8px;
    border-radius: 10px;
    font-size: 9px;
    width:80%;
    font-family: var(--paragraph-font);
    @media (min-width:375px){
        font-size: 12px;
    }
    @media(min-width:768px) and (max-width:1199px){
        font-size: 9px;
    }
    @media(min-width:1280px){
        width:55%;
        right: 23%;
    }
}
.variant-container__purchaseType-wrapper{
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // column-gap: 10px;
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid colors.$blue;
}

.product-form__item.product-form__item--quantity{
        margin-top: 10px;
        @media(min-width: 1024px){
            margin-top: 20px;
        }
}
.selector-wrapper{
    label{
        font-weight: 800;
    }
}

.sub-compare-at-price{
    font-weight: 300;
    text-decoration: line-through;
    opacity: 0.7;
}

.variantSubscription-desktop{
        margin-bottom: 20px;
}

.rtx_widget_injection_parent{
    display: none;
}