@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'Token';
@import 'StyleComponents/mixins';
@import 'StyleComponents/layout';
@import 'StyleComponents/breakpoints';


.variant-container{
    &__var-options{
        display: flex;
        // grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        margin:5px 0;
        .dropdown_content{
            font-weight: normal;
            display: flex;
            gap: 10px;
            align-items: center;
            position: relative;
            font-weight: 800;
            text-decoration: underline;
            .frequency_options{
                position: absolute;
                top: 30px;
                background: colors.$white;
                padding: 5px;
                border: 1px solid colors.$blue;
                z-index: 2;
                border-radius: 4px;
            }
            .dropdownOpen svg{
                transform: rotate(180deg);
                transition: transform 0.3s ease-in-out;
            }
            .dropdownClose svg{
                transform: rotate(0deg);
                transition: transform 0.3s ease-in-out;
                margin-bottom: 25%;
            }
        }
        .tooltip_trigger{
            background: colors.$lime-yellow;
            border-radius: 50%;
            border: 1px solid colors.$blue;
            padding: 2px;
            width: 15px;
            height: 15px;
            stroke-width: 1px;
        }
    } 
    &__var-wrapper{
        border: 1px solid #D8D9DA;;
        padding: 10px;
        border-radius: 10px;
        text-align: left;
        position: relative;
        margin-top :5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 5px;
        h5{
            margin: 0;
        }
    }  

    &__var-name{
        font-family:var(--primary-font) ;
        font-size: typography.$body-title-size ;
        color:#323734 ;
        font-weight: 400;
    }

    &__var-price{
        font-family:var(--primary-font) ;
        font-size:15px ;
        color:#323734 ;
        font-weight: 700;
    }

    &__opt-label{
        font-family: var(--primary-font);
        font-size: 16px;
        font-weight: 700;
        color: #000;
        margin-top: 20px;
        width: 100%;
    }
    
}


.variant-container__var-wrapper.active .variant-container__var-name, 
.variant-container__var-wrapper.active .onetime-container__onetime-label,
.variant-container__var-wrapper.active .onetime-container__oneTime-Price {
    color: colors.$blue;
}

.variant-container__var-wrapper.active .variant-container__var-price, 
.variant-container__var-wrapper.active .variant-container__opt-label,
.variant-container__var-wrapper.active .subscriptionOpt-container__subscription-label,
.variant-container__var-wrapper.active .subscriptionOpt-container__subscription-Price {
    color: colors.$blue;
}

.onetime-container__onetime-label, .subscriptionOpt-container__subscription-label{
    // width: 50%;
    // margin: auto;
    font-family:var(--paragraph-font);
    display: flex;
    gap: 10px;
    align-items: center;
    svg{
        width: 15px;
        height: 15px;
        padding: 2px;
        border-radius: 50%;
        border: 1px solid colors.$blue;
        stroke-width: 2px;
        &.active{
            background: colors.$blue;
        }
    }
}

.onetime-container__oneTime-Price, .subscriptionOpt-container__subscription-Price{
    font-family:var(--paragraph-font);
    font-size: 16px;
    font-weight: 700;
}
  
.subscription_benefits{
    p{
        font-weight: 900;
    }
    ul{
        list-style: disc;
        padding-left: 40px;
    }
}
.variant-container__bestvalue-tag {
    position: absolute;
    top: -10%;
    right: 10%;
    background-color: #BA5B31;
    color: #fff;
    padding: 0 8px;
    border-radius: 10px;
    font-size: 9px;
    width:80%;
    font-family: var(--paragraph-font);
    @media (min-width:375px){
        font-size: 12px;
    }
    @media(min-width:768px) and (max-width:1199px){
        font-size: 9px;
    }
    @media(min-width:1280px){
        width:55%;
        right: 23%;
    }
}
.variant-container__purchaseType-wrapper{
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // column-gap: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.product-form__item.product-form__item--quantity{
        margin-top: 10px;
        @media(min-width: 1024px){
            margin-top: 20px;
        }
}
.selector-wrapper{
    label{
        font-weight: 800;
    }
}

.sub-compare-at-price{
    font-weight: 300;
    text-decoration: line-through;
    opacity: 0.7;
}

.variantSubscription-desktop{
        margin-bottom: 20px;
}
