{{ 'daily-essential.css' | asset_url | stylesheet_tag }}

{%  assign section_settings = section.settings %}
<div class="daily-essential">
    <div class="section-header">
      <h2 class="section-header__title">{{section_settings.heading}}</h2>
      <p class="section-header__content">{{ section_settings.content }}</p>    
    </div>    
    <div class="daily-essential__grid">
        {% for block in section.blocks %} 
            {%  assign product = block.settings.product %}
              {%  render 'card-product', show_quick_view: true, media_aspect_ratio: 0.8, product: product, show_quick_buy: false, show_calltoaction_btn:false, show_buy_on_hover:true %}
        {%  endfor %}
    </div>
</div>

{%  schema %}
{
  "name": "Daily essential",
  "settings": [
     {
       "type": "text",
       "id": "heading",
       "label": "heading",
       "default":"Daily Essentials"
     },
     {
        "type": "text",
        "id": "content",
        "label": "content",
        "default": "Plant-based ingredients"
      }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        }
      ]
    }
  ],
  "presets": [
    {
     "name": "Daily Essential Section"
    }
  ]
}
{%  endschema %}