{{ 'media-with-text-overlay.css' | asset_url | stylesheet_tag }}

{% for block in section.blocks %}
    {% liquid
        assign background=block.settings.bg_color
     %}
{% endfor %}
{% comment %} style="background:{{background}} {% endcomment %}

<div class="media-text" >
    {% for block in section.blocks %}
        {% liquid
            assign desktop_image = block.settings.image_desktop | default: block.settings.image_mobile
            assign mobile_image = block.settings.image_mobile | default: block.settings.image_desktop
            assign video_block = block.settings.video
                    assign video_url = block.settings.video_url
                    assign bg_color = block.settings.bg_color
                    assign poster = block.settings.cover_image
        %}
        <div class="media-text__wrapper">
            {%- case block.type -%}
            {%- when 'first-block' -%}
                {% if video_block or video_url %}
                    {% render 'video-with-text-overlay', 
                            video_desktop: video_url, 
                            video_block: video_block,
                            poster_image_url: poster, 
                            id: 1234, 
                            wrapper_class: 'your-wrapper-class', 
                            text_background: '#fff', 
                            cta_url: '/some-url'
                        
                    %}
                    
                {% elsif desktop_image or mobile_image %}
                    <div class="media-text__content">
                        {% liquid
                            assign id = block.id
                            assign color = block.settings.color
                            assign eyebrow = block.settings.eyebrow
                            assign heading = block.settings.heading
                            assign subheading = block.settings.subheading
                            assign cta_text = block.settings.cta_text
                            assign cta_url = block.settings.cta_url
                            assign image_desktop = desktop_image
                            assign image_mobile = mobile_image
                            assign button_type = 'fill'
                            assign button_background_type = ' button_background_type'
                            assign collection = block.settings.collection
                        %}
                        {% render 'image-with-text-overlay',
                            wrapper_class: 'media-text__image-content',
                            id: id,
                            eyebrow: eyebrow,
                            heading: heading,
                            subheading: subheading,
                            cta_text: cta_text,
                            cta_url: cta_url,
                            image_desktop: image_desktop,
                            image_mobile: image_mobile,
                            text_wrapper_class: 'sidebar-banner',
                            inline_heading: inline_heading,
                            mobile_aspect_ratio: 0.92,
                            desktop_aspect_ratio: 0.9,
                            desktop_crop: true,
                            mobile_crop: true,
                            button_type: button_type,
                            button_background_type: button_background_type
                        %}
                    </div>
                {% else %}
                    <div class="media-text__background">
        
                    </div>
                {% endif %}
            {%- endcase -%}
        </div>
    {% endfor %}
</div>

{% schema %}
{   
  "name": "Media with Text overlay",
  "tag": "section",
  "max_blocks": 2,
  "settings": [
    {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": true
      },
      {
        "type": "range",
        "id": "media_width",
        "min": 30,
        "max": 70,
        "step": 1,
        "unit": "%",
        "label": "First column width",
        "default": 50
      },
      {
        "type": "select",
        "id": "media_size",
        "label": "Media size",
        "options": [
          {
            "label": "Adapt to image",
            "value": "adapt"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }
        ],
        "default": "lg"
      },
  ],
  "blocks": [
    {
      "type": "first-block",
      "name": "First block",
      "settings": [
        {
          "type": "header",
          "content": "Text Content"
        },
        {
            "type": "video",
            "id": "video",
            "label": "Video"
        },
        {
            "type": "video_url",
            "id": "video_url",
            "label": "Video URL",
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
            "accept": ["youtube", "vimeo"]
        },
        {
            "type": "image_picker",
            "id": "cover_image",
            "label": "Cover image",
            "info": "1440 x 1280px (large) .jpg recommended"
        },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Image Desktop"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image Mobile"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Text color"
        },
        {
          "type": "text",
          "id": "eyebrow",
          "label": "Eyebrow"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA Text"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "CTA url"
        }
      ]
    },
    {
        "type": "Second-block",
        "name": "Second block",
        "settings": [
          {
            "type": "header",
            "content": "Video"
          },
          {
              "type": "video",
              "id": "video",
              "label": "Video"
          },
          {
              "type": "video_url",
              "id": "video_url",
              "label": "Video URL",
              "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
              "accept": ["youtube", "vimeo"]
          },
          {
              "type": "image_picker",
              "id": "cover_image",
              "label": "Cover image",
              "info": "1440 x 1280px (large) .jpg recommended"
          },
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "Image Desktop"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image Mobile"
          },
          {
            "type": "header",
            "content": "Background color"
          },
          {
              "type": "color",
              "id": "bg_color",
              "label": "Background color"
          },
          {
            "type": "header",
            "content": "Text"
          },
          {
            "type": "text",
            "id": "eyebrow",
            "label": "Eyebrow"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text"
          },
          {
            "type": "url",
            "id": "cta_url",
            "label": "CTA url"
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "Media with Text overlay"
    }
  ]
}
{% endschema %}
