@use 'StyleComponents/colors';
@use 'StyleComponents/typography';

.button {
    background: colors.$lime-yellow; 
    color: colors.$blue;
    border-radius: 4px;
    padding: 13px 14px;
    line-height: 1;
    font-family: 'poppins';
    box-shadow: none;
    outline: 0;
    letter-spacing: 0.3px;
    transition: color 0.3s ease;
    display: inline-flex;

    &:hover{
        background: colors.$blue; 
        color: colors.$white;
    }


    @media(--xxs) {
        padding: 13px 28px;
    }

    @include use-text-style('body-regular');
    font-weight: typography.$semi-weight;

    @media(--md) {
        @include use-text-style('body-alt');
        font-weight: typography.$semi-weight;
    }

    svg {
        vertical-align: middle;
        margin-left: 5px;
    }

    &--text:hover {
        border:0;
        outline:0;
        box-shadow: none;
    }

    &--text{
        padding: 0;
        text-decoration: none;
    }

    &--transparent {
        background:  transparent !important;
        color: currentColor !important;
    }

    &--outline {
        background:  transparent !important;
        color: currentColor !important;
        border: 1px solid colors.$white;
       padding: 7px 15px;
       margin-top: 10px;

       @media(--md) {
        margin-top: 28px;
        padding: 13px 15px;
       }

       &:hover {
            border-color:colors.$white !important;
            outline:0 ;
            box-shadow: none !important;
       }
    }

    &__custom-button{
        position: absolute;
        z-index: 5;
        bottom: 8%;
        right: 9%;
        padding: 19px 21px;
        border-radius: unset;
        text-decoration: none;
        @media(--md-large){
            padding: 44px 52px;
        }
    }
    &__btn-text{
        @include use-text-style('body-title');
        font-family: var(--secondary-font);
        letter-spacing: 1.2px;

    }

    &__hide_button{
        display: none;
        @media(--md){
            display: block;
        }
    }
}

.needsclick {
    min-height: 0 !important;
}

.arrow-icon{
    padding-left: 10px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.button:hover .arrow-icon {
    transform: translateX(5px); 
  }