@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'breakpoints';
@import 'StyleComponents/breakpoints';

.text-image{
    position: relative;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    &__text-wrapper {
        
        display: flex;
        flex-direction: column;
        color: colors.$blue;
        padding: 16px 16px 30px;
        max-height: 555px;
        width: 100%;
        background: colors.$white;
        @media(--md){
            width: 61%;
            top: 9%;
            left:9%;
            position: absolute;
            max-height: 69%;
        }
        &--no-overlay {
            position: static;
            transform: none;
            padding: 10px var(--nav-vertical-padding);
            background: #925C4B;
            height: 100%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    &__image-wrapper {
        height: 100%;
        cursor: pointer;

        &--half-width {
            max-width: 50%;
        }
    }

    .image {
        &--no-radius {
            .responsive-image__image {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    .image {
        height:100%;
        &--desktop {
           display: none;
    
           @media (--md) { 
            display: block;
           }
        }
        &--mobile {
            display: block;
     
            @media (--md) { 
             display: none;
            }
         }
    }

    &__justify-between{
        height: 555px;
        @media(--md){
            height: 69%;
        }
        .text-wrapper__flex{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            height: 100%;
        }
        .text-wrapper__heigt{
            height: 100%;
        }
    }
}

.text-wrapper__flex{
    display: flex;
    justify-content: space-between; 
    align-items: left;
    flex-direction: column;
}

.hide_video__mobile, .hide_video__mobile{
    display: none !important;
    @media(--md){
        display: block !important;
    }
}

.text-image__text-wrapper--no-overlay__mobile{
    position: static;
    @media(--md){
        position: absolute;
    }
}   

.text{
    &__heading p, &__eyebrow{
        @include use-text-style('heading-1');
        font-weight: typography.$regular-weight;
        letter-spacing: 3.1px;
        @media(--md){
            @include use-text-style('heading-2');
            font-weight: typography.$regular-weight;
        }
        @media(--md-large){
            @include use-text-style('heading-1');
            font-weight: typography.$regular-weight;
        }
    }
    &__subheading{
        @include use-text-style('body-regular');
        letter-spacing: 0.2px;
        margin-bottom: 40px; 
        @media(--md){
            margin-bottom: 25px;
        }
        @media(--md-large){
            margin-bottom: 40px;
        }
    }
    &__cta{
        @include use-text-style('body-small');
        font-weight: typography.$regular-weight;
    }
}